/* hero about section design start */
.hero_about{
    padding: 109px 0 86px 0;
}
.about_head h2{
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    color: var(--primary-black);
    text-align-last: center;
}
.about_head p{
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--primary-black);
    width: 50%;
    margin: 44px auto 55px;
    text-align-last: center;
}
.about_head img{
    width: 1100px;
    height: 523px;
    display: block;
    margin: 0 auto;
}
.about_foot{
    display: flex;
    margin-top: 141px;
}
.about_foot_left{
    flex: 1;
}
.about_foot_left p{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1.8px;
    color: var(--primary-black);
    width: 72%;
}
.about_foot_right{
    flex:1;
}
.about_foot_right p{
    font-weight: 400;
    opacity: 70%;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--primary-black);
}
/* paragraflar arasindaki olcunu goture bilmirem */
.foot_right_p1{
    margin-bottom: 20px;
}
/* high skilled section design start */
.high_skilled{
    padding: 139px 0 138px 0;
    background-color: var(--bground-grey);
}
.high_skilled_container{
    display: flex;
    gap: 95px;
}
.high_skilled_left img{
    width: 475px;
    height: 616px;
}
.high_skilled_right{
    padding: 139px 0 64px 0;
}
.high_skilled_right_p1{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1.8px;
    color: var(--primary-black);
}
.high_skilled_right_p2{
    margin-top: 38.5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--primary-black);
}
.high_skilled_right_p3{
    margin-top: 30px;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--primary-black);
}
/* meet our team section design start */
.meet_our_team{
    padding: 107px 0 179px;
}
.meet_our_team_head{

}
.meet_our_team_head h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1.8px;
    color: var(--primary-black);
    text-align: center;
}
.meet_our_team_head p{
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--primary-black);
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    opacity: 70%;
}
.meet_our_team_cards{
    margin-top: 68px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.master_card img{
    width: 267px;
    height: 356px;
}
.meet_card_name{
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--primary-black);
    margin-top: 31px;
}
.meet_card_job{
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.2px;
    color: var(--primary-black);
    margin-top: 4px;
}
