.minimal_header {
  padding: 25px 0 26px 0;
}
.minimal_header .logo {
  font-family: var(--font-rubik);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.13px;
  color: var(--primary-black);
  text-align: center;
}
.footer{
    background-color: var(--primary-black);
}
.footer_logo h1{
    font-family: var(--font-rubik);
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.16px;
  color: #fff;
}

