:root {
  --primary-black: #111;
  --font-rubik: "Rubik", sans-serif;
}

/* HEADER */
.minimal_header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #111;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  color: red;
}

/* CONTENT */
.content {
  width: 65%;
  margin: 40px auto;
  line-height: 1.7;
  color: #333;
}

.content h1 {
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: #777;
}

.content h2 {
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.content ul {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
}

/* FOOTER */
.footer {
  background-color: #000;
  padding: 50px 0;
  margin-top: 60px;
}

.footer_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer_head {
  font-weight: 400;
  font-size: 15px;
  opacity: 65%;
  color: #fff;
}

.footer_ul {
  padding-left: 0;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.footer_ul li a {
  font-size: 17px;
  line-height: 35px;
  color: #f4ecec;
  text-decoration: none;
}